<div class="edit-user">
    <h3 class="edit-user-heading"> Edit User </h3>
    <div class="row1-edit-user">
        <div class="row1-left">
            <div class="container">
                <h4>Upload a profile image
                </h4>
                <div class="avatar-upload">
                    <div class="avatar-edit">
                        <input type="file" id="imageUpload" accept=".png, .jpg, .jpeg">
                        <label for="imageUpload"></label>
                    </div>
                    <div class="avatar-preview">
                        <div id="imagePreview" style="background-image: url('http://i.pravatar.cc/500?img=7');">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row1-right">
            <div class="left-rightside">
                <h4>Reminder selection: </h4>
                <div class="reminder-inputs" >

                    <ng-select *ngIf="optiontype" [items]="optiontype" bindLabel="tickleDescription" placeholder="Select an Option Type" appendTo="body"
                        [multiple]="true" >
                    </ng-select>

                    <ng-select *ngIf="hierarchy" [items]="hierarchy" bindLabel="companyHierarchyLabelDesc" placeholder="Select a Hierarchy" appendTo="body"
                        [multiple]="true" >
                    </ng-select>

                    <input type="text" class="form-control" placeholder="Days Out" aria-label="DaysOut" aria-describedby="basic-addon1">
                    <input type="text" class="form-control" placeholder="Frequency" aria-label="Frequency" aria-describedby="basic-addon1">
                    <textarea type="text" class="form-control" placeholder="Email Message" aria-label="EmailMessage" aria-describedby="basic-addon1"></textarea>
                </div>
            </div>
            <div class="right-rightside">
                <h4>Reminder selection: </h4>
            </div>
        </div>
    </div>
</div>

<!-- [(ngModel)]="selectedHierarchy" -->