.row1-left {
    width: 25%;
    height: 300px;
    /* Should be removed. Only for demonstration */
    box-shadow: 0.5px 25px 15px 0 rgb(0 0 0 / 39%);
    background-color: white;
    margin-right: 5px;
    border-radius: 5px;
}

.row1-right {
    width: 75%;
    height: 300px;
    /* Should be removed. Only for demonstration */
    box-shadow: 0.5px 25px 15px 0 rgb(0 0 0 / 39%);
    background-color: white;
    margin-left: 5px;
    display: flex;
    border-radius: 5px;
}

/* Clear floats after the columns */
.row1-edit-user {
    display: flex;
    padding-inline: 40px;
}

.row2-edit-user {
    display: flex;
    padding-inline: 40px;
    margin-top: 20px;
}

.row2-container-left {
    height: 600px;
    width: 100%;
    margin-right: 15px;
    background: white;
    padding-top: 20px;
    border-radius: 5px;
    box-shadow: 0.5px 25px 15px 0 rgb(0 0 0 / 39%);
}

.row2-container-right {
    height: 300px;
    width: 100%;
    background: white;
    box-shadow: 0.5px 25px 15px 0 rgb(0 0 0 / 39%);
    border-radius: 5px;
    overflow-y: scroll;
}

.edit-user-heading {
    margin-left: 100px;
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}

.avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 10%);
}

.avatar-upload .avatar-edit input+label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 12%);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.avatar-upload .avatar-edit input {
    display: none;
}

input[type="file"i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    align-items: baseline;
    color: inherit;
    text-overflow: ellipsis;
    white-space: pre;
    text-align: start !important;
    padding: initial;
    border: initial;
    overflow: hidden !important;
}

h4 {
    text-align: center;
    color: #0f76c3;
}

.container {
    height: fit-content;
}

.avatar-upload .avatar-edit input+label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.left-rightside {
    width: 50%;
    background: linear-gradient(0deg, rgba(5,64,125,1) 0%, rgb(36 51 90) 100%);
    padding: 20px;
    text-align: center;
    border-radius: 5px 0px 0px 5px;
}

.scheduled-reminder-list-container {
    overflow-y: scroll;
    height: 600px;
}

.left-rightside:after {
    background-color: #757575;
    width: 5px;
    height: 100%;
}

ul {
    text-align: center;
    list-style: none;
}

li {
    font-size: large;
}

.right-rightside {
    width: 50%;
    background: linear-gradient(0deg, rgba(5,64,125,1) 0%, rgb(36 51 90) 100%);
    padding: 20px;
    border-radius: 0px 5px 5px 0px;
}



.reminder-inputs {
    padding-inline: 10px;
    height: 600px;    
    overflow-y: scroll;
    padding: 10%;
}

.ng-select {
    position: relative;
    display: block;
    margin-bottom: 15px;
    box-sizing: border-box;
}

textarea {
    margin-bottom: 15px;
    height: 200px;
}

input {
    margin-bottom: 15px;
}

table.reminder-schedule-table {
    width: 100%;
}

table.company-reminder-schedule-table {
    width: 100%;
}

thead.reminder-thead {
    background: #323232;
    color: white;
    border-radius: 20px 20px 0 px 0px;
}

tr.reminder-schedule-table-row {
    border-bottom: solid 1px #8080807d;
}

input.company-reminder-schedule-search {
    width: 100%;
    border-radius: 5px;
    border: solid gray 1px
}

input.building-reminder-schedule-search {
    width: 100%;
    border-radius: 5px;
    border: solid gray 1px
}

input.all-reminder-schedule-search {
    width: 100%;
    border-radius: 5px;
    border: solid gray 1px
}

.input-group.mb-3 {
    padding-inline: 12%;
}

.user-info-input-container {
    height: 60%;
    overflow-y: scroll;
}

.form-check-inline .form-check-input {
    position: static;
    margin-top: 0;
    margin: 0px;
    margin-right: 0.3125rem;
    margin-left: 10px;
}

input.form-control.disabled {
    text-align: center;
}

button.btn.btn-dark {
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.modal {
    background: rgba(0, 0, 0, .3);
}

.modal-xl .modal-lg {
    max-width: 90%;
}

button.myReminder-btn {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    background: white;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
button.myReminder-btn:hover{
    transform: scale(1.05);
    -webkit-transition: all 1s ease;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}
button.myReminder-btn:not(:hover){

    -webkit-transition: all 1s ease;
    transition: all 200ms ease-in-out;
}
svg.fa-bell.fa-8x {
    color: #033871;
    transform: rotate(17deg);
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100% !important;
  }
  
  .modal-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 7px !important;
  }
  .modal-dialog.modal-dialog-centered.modal-lg{
      width: 100% !important;
  }
  .modal-header {
    position: static;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    padding: 10px;
    background: #033871;
    border: 0;
  }
  
  

  
  .modal-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 60px;
    padding: 10px;
    background: #f1f3f5;
  }


::ng-deep.modal-backdrop {
    z-index: 1050
  }

  button.delete-reminder-btn {
    border: none;
    color: white;
    background: #c10000;
    border-radius: 20px;
    margin: 5px;
    height: 30px;
    width: 100px;
    border-radius: 50px;
    box-shadow: 0.5px 5px 15px 0 rgb(0 0 0 / 39%);
}
button.delete-reminder-btn:hover {
    transform:translateY(3px);
    -webkit-transition: all 1s ease;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

button.delete-reminder-btn:not(:hover) {
    -webkit-transition: all 1s ease;
    transition: all 200ms ease-in-out;
}
button.edit-reminder-btn {
    border: none;
    color: white;
    background: #033871;
    border-radius: 20px;
    margin: 5px;
    height: 30px;
    width: 100px;
    border-radius: 50px;
    box-shadow: 0.5px 5px 15px 0 rgb(0 0 0 / 39%);
}
button.edit-reminder-btn:hover {
    transform:translateY(3px);
    -webkit-transition: all 1s ease;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

button.edit-reminder-btn:not(:hover) {
    -webkit-transition: all 1s ease;
    transition: all 200ms ease-in-out;
}
button.save-edit-reminder-btn{
    border: none;
    color: white;
    background: #00bc09;
    border-radius: 20px;
    margin: 5px;
    height: 30px;
    width: 100px;
    border-radius: 50px;
    box-shadow: 0.5px 5px 15px 0 rgb(0 0 0 / 39%);
}
button.save-edit-reminder-btn:hover {
    transform:translateY(3px);
    -webkit-transition: all 1s ease;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

button.save-edit-reminder-btn:not(:hover) {
    -webkit-transition: all 1s ease;
    transition: all 200ms ease-in-out;
}
button.cancel-edit-reminder-btn{
    border: none;
    color: white;
    background: #c10000;
    border-radius: 20px;
    margin: 5px;
    height: 30px;
    width: 100px;
    border-radius: 50px;
    box-shadow: 0.5px 5px 15px 0 rgb(0 0 0 / 39%);
}
button.cancel-edit-reminder-btn:hover {
    transform:translateY(3px);
    -webkit-transition: all 1s ease;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

button.cancel-edit-reminder-btn:not(:hover) {
    -webkit-transition: all 1s ease;
    transition: all 200ms ease-in-out;
}
.modal-lg {
    max-width: 1150px !important;
}
input.all-reminder-contact-search {
    width: 100%;
    border-radius: 5px;
    border: solid gray 1px;
    margin-left: 10px;
    margin-right: 5px;
}
.allreminder-contactlist-search-container {
    display: inline-flex;
    width: 100%;
}
h4.contact-filterd-number {
    margin-left: 5px;
    font-weight: 100;
    font-size: 30px;
}

h4.mycompany-filterd-number{
    margin-left: 5px;
}

.edit-user-container {
    padding-left: 3%;
}
/* td {
    border: 2px solid #000;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } */
  .modal-xl .modal-lg {
    max-width: 95%;
  }
  h3.edit-user-heading {
    margin-left: 50px;
}
ngb-modal-window.d-block.modal.modal-xl.fade.show {
    background: #000000b8;
}

