h1#REMTitle {
    font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    /* margin: 0 0 16px; */
    margin-top: 10px;
    font-size: 29px;
    margin-left: 10px;
    border-left: 2px solid #d8d8d8;
    color: #033871 !important;
    margin-bottom: 0px;
    font-weight:200;
}

.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    padding: 0px;
    margin: 0px;
}

.row1-nav {
    display: inline-flex;
    width: 100%;
    margin-bottom: 5px;
}
.row2-nav {
    margin-left: 10px;
    width: 100%;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    display: flex;
    padding: 0px;
    flex-direction: column;
}
form.form-inline.my-2.my-lg-0.ng-untouched.ng-pristine.ng-valid {
    width: 100%;
    justify-content: left;
}

.row1-left {
    width: 40%;
    display: inline-flex;
}
.row1-right {
    width: 70%;
    display: inline-flex;
}

button.user-profile {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: solid 2px #24335a;
    background: white;
    margin-top: 2px;
    margin-right: 10px;
}
button.user-profile:hover{
    cursor: pointer;
    transform:scale(1.1);
    -webkit-transition: all 1s ease;
    transition: all 300ms ease-in-out;
}
button.user-profile:not(:hover) {
    transform:scale(1);
    -webkit-transition: all 1s ease;
    transition: all 300ms ease-in-out;
}

p.user-initials {
    /* place-self: center; */
    font-size: 20px;
    height: 10px;
}
.quicksearch.form-group {
    max-width: 480px !important;
}
.quicksearch.form-group {
    border: 2px solid #ccc !important;
    height: 32px !important;
    width: 100% !important;
}

.input-group {
    width: 75% !important;
}

div#navbarSupportedContent {
    width: 100%;
    background: #033871 !important;
}

.nav-link {
    color: white !important;
}

mat-drawer-container.mat-drawer-container.example-container {
    border: none !important;
}
li.nav-item {
    margin-right: 15px;
    font-family: Helvetica,sans-serif !important;
}

li.nav-item.active {
    font-family: Helvetica,sans-serif !important;
    border-bottom: 3px solid #ec4a08;
}

#dropdownBasic1::after{
    display:none !important;
}
.dropdown-menu.show {
    transform: translateX(-75%);
}
.dropdown-item:hover{
    background-color: #676767a1;
    border-radius: 5px;
    color: white;
    -webkit-transition: all 1s ease;
    transition: all 100ms ease-in-out;
    
}
.dropdown-item:not(:hover){
    -webkit-transition: all 1s ease;
    transition: all 100ms ease-in-out;
}
button.dropdown-item:hover{
    cursor: pointer;
}
p.user-info {
    text-align: right;
    font-size: 12px;
    margin-bottom: 0px;
    font-style: italic;
    margin-right: 5px;
}
.user-nav-info {
    margin-right: 1px;
    border-bottom: solid 1px #06407c;
    color: white;
    background: #8787878c;
}
